node { 
	fill-color: red; 
	size: 30px;  
	text-size:14; 
	 
	stroke-color: black;
} 
node.clicked {
	stroke-width: 5;
    stroke-color: black;
    stroke-mode: plain;
                    }
node.marked {
	fill-color: green; 
}

edge {
	fill-color: #222;
	text-size:14;
	arrow-shape:arrow;
	arrow-size: 10px, 5px; 
}